<!DOCTYPE html>
<html>
    <head>
        <title>Bookstore</title>
        <link rel='stylesheet' href='/materialize/css/materialize.min.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <header>
            <nav>
                <div class="back-arrow">
                    <%= path %>
                </div>
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo">Bookstore</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/books/list">List books</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container">